 <section id="viewhotelDetails">
    <div class="profile"><img src="/img/profile.png" alt="default
            user">
        <h3>User Info:</h3>
        <div class="flex">
            <p>Username: </p>
            <p>{{user.Username}}</p>
        </div>
        <div class="flex">
            <p>Email: </p>
            <p>{{user.Email}}</p>
        </div>
        <div class="flex">
            <p>Reservations: </p>
            <p>
                {{#each user.BookedHotels}}
                    <span>{{Name}}</span>
                {{else}}
                    <span>You don't have any reservations</span>
                {{/each}}
            </p>
        </div>
    </div>
</section>
