 <main>
    <img id="sadFaceImg"
        src="https://img.freepik.com/free-vector/404-error-page-found-miss-paper_114341-25.jpg?size=626&ext=jpg"
        alt="sad face" />
    <h2>Page not found</h2>
    <a href="/" style="text-align: center; color: lightblue;">Go back to safety!</a>
</main>