 <main>
  <h1>Browser</h1>
  <form action="" method="">
    <input type="text" class="search" name="search" placeholder="Search...">
    <input type="number" name="from" class="difficulty" placeholder="Difficulty
      from..." value="1" min="1" max="6">
    <span>-</span>
    <input type="number" name="to" class="difficulty" placeholder="Difficulty
      to..." value="6" min="1" max="6">
    <input type="submit" value="search">
  </form>

  {{#each cubes}}
      {{> cube}}
  {{else}}
    <center>
      <h2>No cubes in the database!</h2>
    </center>
  {{/each}}

</main>
