 <a href="/hotel/details/{{_id}}" class="added-hotel">
    <img
        src="{{ImageUrl}}"
        alt=""
        class="picture-added-hotel">
    <h3>{{Name}}</h3>
    <span>Free rooms: {{FreeRooms}}</span>
</a>