 <a href="" class="added-hotel">
    <img
        src="{{hotel.ImageUrl}}"
        alt=""
        class="picture-added-hotel">
    <h3>{{hotel.Name}}</h3>
    <span>Free rooms: {{hotel.FreeRooms}}</span>
</a>