<div class="container">
    <h1 class="text-center">Popular movies</h1>
    <div class="row mt-6">
        <div class="col-lg-2" *ngFor="let movie of popularMovies">
            <app-movie [movie]="movie"></app-movie>
        </div>
    </div>

    <h1 class="text-center">Movies in theaters</h1>
    <div class="row mt-6">
        <div class="col-lg-2" *ngFor="let movie of inTheaterMovies">
            <app-movie [movie]="movie"></app-movie>
        </div>
    </div>

    <h1 class="text-center">Popular Kid Movies</h1>
    <div class="row mt-6">
        <div class="col-lg-2" *ngFor="let movie of kidsMovies">
            <app-movie [movie]="movie"></app-movie>
        </div>
    </div>

    <h1 class="text-center">Popular Drama Movies</h1>
    <div class="row mt-6">
        <div class="col-lg-2" *ngFor="let movie of dramaMovies">
            <app-movie [movie]="movie"></app-movie>
        </div>
    </div>
</div>
